html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  background: #fff;
  overflow-x: hidden;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: subpixel-antialiased; }

.group {
  position: relative; }

ol,
ul {
  list-style: none;
  display: block; }

input {
  text-rendering: auto;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 13.33333px Arial; }

#header {
  width: 100%;
  height: 56px;
  background: #333;
  background: rgba(47, 47, 47, 0.98);
  z-index: 9996; }
  @media only screen and (max-width: 959px) {
    #header {
      position: fixed;
      will-change: transform;
      top: 0;
      height: 40px; } }

#header-inner {
  margin: 0 auto;
  padding: 0 10px 0 30px; }
  @media only screen and (max-width: 959px) {
    #header-inner {
      width: auto;
      padding: 0; } }

#logo {
  float: left;
  padding: 0 20px 0 0; }
  @media only screen and (max-width: 959px) {
    #logo {
      float: none;
      padding-right: 0;
      text-align: left; } }
  #logo a {
    display: block;
    width: 76px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url(https://cdn.dribbble.com/assets/logo-small-4612353cefa78dfe35ba5e8e9d35da9f9305a3a516ef9675b5c37004c5862b6d.png);
    opacity: 1;
    transition: opacity 0.2s ease; }
    @media only screen and (max-width: 959px) {
      #logo a {
        margin: 0 auto 0 auto;
        height: 40px; } }
    #logo a:hover {
      text-decoration: none;
      color: #1e6189;
      opacity: 0.5; }
    #logo a img {
      border: none; }
  #logo img {
    height: 0; }

#toggle-nav {
  display: none; }
  @media only screen and (max-width: 959px) {
    #toggle-nav {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 48px;
      height: 40px;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-position: 15px 50%;
      background-image: url(https://cdn.dribbble.com/assets/icon-hamburger-81081334c82d4efd0892cd8d11a37e0fc36874131c243994f36f3e783216d7b2.png?4);
      opacity: 0.5; } }

#nav {
  margin: 0 250px 0 20px;
  color: #777; }
  @media screen and (max-width: 1050px) {
    #nav {
      margin-right: 180px; } }
  @media screen and (max-width: 959px) {
    #nav {
      float: left;
      width: 100%;
      margin: 0 0 10px 0;
      text-align: left;
      height: 0;
      overflow: hidden; } }
  #nav > li {
    float: left;
    font-size: 14px;
    line-height: 1; }
    @media screen and (max-width: 959px) {
      #nav > li {
        position: relative;
        float: none;
        text-align: left;
        background: rgba(47, 47, 47, 0.98); } }
    #nav > li > a {
      display: block;
      height: 56px;
      padding: 0 10px;
      line-height: 56px;
      text-decoration: none;
      color: #999; }
      #nav > li > a:hover {
        color: #fff; }
      @media only screen and (max-width: 959px) {
        #nav > li > a {
          height: auto;
          padding: 15px;
          line-height: 1;
          border-top: 1px solid rgba(255, 255, 255, 0.08); } }
  @media only screen and (max-width: 959px) {
    #nav #search {
      margin-top: 0; } }
  #nav #search input {
    vertical-align: middle;
    margin: 0; }
  #nav .search-text {
    width: 190px;
    padding: 5px 5px 5px 25px;
    font-size: 13px;
    font-weight: 500;
    color: #bbb;
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-image: url(https://cdn.dribbble.com/assets/icon-search-7a07ad9f258fc1d8c28a29faa5627b41c2cc353d138b6bc3e987e0719584ce69.png);
    border-radius: 4px; }
    @media screen and (max-width: 1050px) {
      #nav .search-text {
        width: 120px; } }
    @media screen and (max-width: 959px) {
      #nav .search-text {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box; } }
  #nav #t-search {
    position: absolute;
    top: 16px;
    right: 30px;
    margin: 0; }
    @media only screen and (max-width: 959px) {
      #nav #t-search {
        position: relative;
        top: auto;
        right: auto;
        padding: 0 15px 15px 15px; } }
  #nav #t-signin {
    float: right; }
    @media only screen and (max-width: 959px) {
      #nav #t-signin {
        display: block;
        float: none;
        position: absolute;
        top: 0;
        right: 0;
        background: none; }
        #nav #t-signin a {
          padding: 0 15px;
          font-weight: normal;
          height: 40px;
          line-height: 40px;
          text-transform: none;
          white-space: nowrap;
          color: #aaa; } }
  #nav #t-signup {
    float: right; }
    @media only screen and (max-width: 959px) {
      #nav #t-signup {
        display: none; } }
  #nav #t-more-back {
    text-align: center;
    display: none;
    margin: 0 auto;
    font-size: 14px; }
    #nav #t-more-back a:before {
      content: "";
      position: absolute;
      left: 15px;
      width: 9px;
      height: 16px;
      background-image: url(https://cdn.dribbble.com/assets/icon-nav-arrow-right-7a750783a0432efe62eae279d433d5714705873d2ba55c03b849e14f6212bc10.png?1); }
  #nav #t-more > a span {
    display: block;
    text-indent: -9999px;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url(https://cdn.dribbble.com/assets/icon-more-dots-8624bddd5cc1950979b7c8dc571cf95d0e314600a9f8e43d99a17b57877808b6.png);
    opacity: 0.5; }
    #nav #t-more > a span:hover {
      opacity: 1; }
    @media only screen and (max-width: 959px) {
      #nav #t-more > a span {
        display: inline;
        padding-left: 0;
        text-indent: 0;
        background: none;
        color: #999;
        opacity: 1; }
        #nav #t-more > a span:hover {
          color: #fff; }
        #nav #t-more > a span:before {
          content: "";
          display: block;
          position: absolute;
          top: 16px;
          right: 15px;
          width: 9px;
          height: 16px;
          background-image: url(https://cdn.dribbble.com/assets/icon-nav-arrow-left-16369f76159f8831973c451b08a7db7e9b9c288896b103f00c2b4d570360dd58.png?1); } }
  @media only screen and (min-width: 960px) {
    #nav #t-shots:hover .tabs,
    #nav #t-players:hover .tabs,
    #nav #t-blog:hover .tabs,
    #nav #t-podcast:hover .tabs,
    #nav #t-meetups:hover .tabs,
    #nav #t-jobs:hover .tabs,
    #nav #t-more:hover .tabs {
      display: block; } }
  #nav li ul.tabs {
    position: absolute;
    display: none;
    float: left;
    width: 180px;
    margin-left: -5px;
    padding: 0 0 10px;
    background: rgba(47, 47, 47, 0.98);
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    z-index: 999; }
    @media only screen and (max-width: 959px) {
      #nav li ul.tabs {
        float: none;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none; } }
    #nav li ul.tabs li {
      clear: left;
      margin: 0;
      width: 100%; }
      @media only screen and (max-width: 959px) {
        #nav li ul.tabs li {
          display: block;
          clear: left;
          margin: 0; } }
    #nav li ul.tabs li:hover {
      background: rgba(255, 255, 255, 0.15); }
      #nav li ul.tabs li:hover a {
        color: #fff; }
    #nav li ul.tabs li.separate {
      margin: 4px 0 0 0;
      padding: 4px 0 0 0;
      border-top: 1px solid rgba(255, 255, 255, 0.15); }
    #nav li ul.tabs a {
      display: block;
      padding: 5px 15px;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.3;
      color: #999;
      background: none;
      box-shadow: none;
      text-decoration: none; }
      @media only screen and (max-width: 959px) {
        #nav li ul.tabs a {
          padding: 15px;
          font-size: 13px;
          font-weight: normal;
          height: auto;
          line-height: 1;
          text-transform: none;
          color: #999; } }

#header #header-inner .nav-open {
  height: auto;
  overflow: visible; }

#wrap {
  position: relative;
  background: #f4f4f4; }

.full-pitch {
  width: auto;
  margin: 0;
  padding: 30px;
  text-align: center;
  background: #252525; }
  @media only screen and (max-width: 959px) {
    .full-pitch {
      margin-top: 40px; } }
  .full-pitch h1 {
    color: #bbb;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3; }
    .full-pitch h1 strong {
      color: #fff;
      font-weight: 500; }
  .full-pitch .full-pitch-actions {
    margin-top: 20px; }
    .full-pitch .full-pitch-actions .form-sub {
      padding: 10px 30px;
      color: #fff;
      text-decoration: none;
      background: #ea4c89;
      display: inline-block;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.04em;
      vertical-align: middle;
      cursor: pointer;
      border: none;
      border-radius: 4px; }

div.full-tabs {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 0.6);
  position: relative; }
  @media only screen and (max-width: 800px) {
    div.full-tabs {
      min-height: 0px; } }
  div.full-tabs .full-tabs-links {
    padding: 0 30px;
    text-align: center; }
    div.full-tabs .full-tabs-links > li {
      display: inline-block;
      margin: 0 20px 0 0;
      font-size: 14px;
      line-height: 1; }
      @media only screen and (max-width: 800px) {
        div.full-tabs .full-tabs-links > li {
          margin-right: 0;
          float: none;
          margin: 0 10px 0 0;
          padding: 0 0;
          font-size: 12px;
          line-height: 1; } }
    div.full-tabs .full-tabs-links li {
      text-align: left; }
    div.full-tabs .full-tabs-links li.more > a {
      color: #444;
      font-weight: bold;
      line-height: 50px;
      text-decoration: none;
      padding-right: 23px;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-image: url(https://cdn.dribbble.com/assets/icon-dd-arrow-5cd53c3f7d2d5232122f093985affef2493f0e1b8af5cdc559180fdeff62366c.png); }
      @media only screen and (max-width: 800px) {
        div.full-tabs .full-tabs-links li.more > a {
          line-height: 36px; } }
    div.full-tabs .full-tabs-links li.more:hover .sub {
      display: block; }
    div.full-tabs .full-tabs-links li.more .sub {
      display: none;
      position: absolute;
      width: 200px;
      margin: -5px 0 0 -15px;
      padding: 6px 0 10px 0;
      font-size: 13px;
      background: #fbfbfb;
      border-radius: 4px;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
      z-index: 999; }
      div.full-tabs .full-tabs-links li.more .sub a {
        display: block;
        height: auto;
        padding: 5px 15px;
        color: #999;
        text-decoration: none; }
  div.full-tabs .screenshot-actions {
    position: absolute;
    top: 11px;
    right: 21px; }
    @media only screen and (max-width: 800px) {
      div.full-tabs .screenshot-actions {
        top: 4px;
        right: 2px; } }
    div.full-tabs .screenshot-actions .actions-menu {
      float: left;
      position: relative; }
      div.full-tabs .screenshot-actions .actions-menu:hover .actions-list {
        display: block; }
      div.full-tabs .screenshot-actions .actions-menu a.grid {
        float: none;
        display: block;
        margin-top: -1px;
        padding-left: 9px;
        padding-right: 9px;
        background: none; }
        div.full-tabs .screenshot-actions .actions-menu a.grid:hover {
          background: #333;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0; }
        div.full-tabs .screenshot-actions .actions-menu a.grid span {
          display: inline-block;
          height: 16px;
          padding-left: 16px;
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-image: url(https://cdn.dribbble.com/assets/icon-shot-options-e5ecd0cd64a0a2d9f4439646908f4d50994452de9c1cc8a7f65448289063f60c.png?2); }
      div.full-tabs .screenshot-actions .actions-menu a.action {
        color: #fff;
        margin: 0;
        padding: 7px 12px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px; }
      div.full-tabs .screenshot-actions .actions-menu .actions-list {
        display: none;
        position: absolute;
        float: left;
        width: 220px;
        text-align: left;
        right: 0;
        border-radius: 6px;
        border-top-right-radius: 0;
        padding: 5px 0;
        padding-bottom: 10px;
        background: #333;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
        div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display {
          padding: 5px 15px; }
          div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display h3 {
            padding: 0;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            color: #ccc;
            background: none; }
          div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display .large-small {
            over-flow: hidden; }
            div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display .large-small li:first-child {
              padding-left: 0; }
            div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display .large-small li {
              float: left;
              width: 23%;
              padding-left: 2.666%; }
              div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display .large-small li a {
                display: block;
                height: 42px;
                width: 100%;
                margin: 5px 0 0 0;
                padding: 0;
                text-align: center;
                background: #505050;
                color: #999;
                font-size: 13px;
                font-weight: normal;
                border-radius: 2px; }
                div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display .large-small li a:hover {
                  opacity: 0.5; }
                div.full-tabs .screenshot-actions .actions-menu .actions-list .shot-display .large-small li a svg {
                  height: 42px;
                  width: 42px;
                  overflow: hidden;
                  margin: 0 auto; }

a.action > span:hover .actions-list {
  display: block; }

/*# sourceMappingURL=style.css.map */
